

<footer class="footer has-background-black-ter">
  <div class="content has-text-centered">
    <p>Using Theme Niri [/code] by <a href="https://github.com/rokhimin"><font color="#fff"> {{ site.title }} </font></a> &copy; {{ site.time | date: '%Y' }}
    </p>
    <p>
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}"><font color="#fff">Twitter</font></a>{% endif %}
       | 
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}"><font color="#fff">Github</font></a>{% endif %}
    </p>
  </div>
</footer>

