<nav class="navbar has-background-black-ter" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="{{ site.logo }}" style="width:100%;"></img>
    </a>
  </div>
  <div class="navbar-menu has-background-black-ter is-active">
    <div class="navbar-end">
      <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="{{ '/' | prepend: site.baseurl }}">
        Home
      </a>

      <a class="navbar-item {% if page.url == '/projects/' %}is-active{% endif %}" href="{{ '/projects/' | prepend: site.baseurl }}">
        Project
      </a>
      
      <a class="navbar-item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ '/about/' | prepend: site.baseurl }}">
        About
      </a>
    </div>
  </div>
</nav>
