
        /* Chrome, Safari */
        ::-webkit-scrollbar {
          width: 15px;
          height: 15px;
          }
          ::-webkit-scrollbar-track-piece  {
          background-color: #222222;
          }
          ::-webkit-scrollbar-thumb:vertical {
          height: 30px;
          background-color: #535955;
          }

:root {
  --text-color: rgb(255, 255, 255);
}

html.is-dark {
  --text-color: rgb(138, 138, 138);
}

body {
  color: var(--text-color);
}

.title, .subtitle, .content, h1, h2, h3, h4, h5, h6, ul, li, hr {
  color: var(--text-color);
}

code {
  color: #3b43b1;
}

pre {
  color: #ff9306;
}

html.is-dark {
  background-color: #2a2a2a;
  color: white;
}

html.is-dark .hero {
  background-color: #63615f;
  color: white;
}

html.is-dark .navbar {
  background-color: #63615f;
  color: white;
}

html.is-dark .navbar-menu {
  background-color: #63615f;
  color: white;
}

html.is-dark .footer {
  background-color: #5c5a58;
  color: white;
}

html.is-dark .box {
  background-color: #413e3e;
  color: white;
}

html.is-dark .notification {
  background-color: #333333;
  color: white;
}

html.is-dark .button {
  background-color: #444444;
  color: white;
}

html.is-dark .title,
html.is-dark .subtitle {
  color: white;
}