<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html %}

    <div class="hero has-background-black-ter is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-one-two">
                        <div action="" class="box">

                            <div class="field">
                              <div class="content {{ content }}"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>