<!DOCTYPE html>
<html class="theme-dark">
  {% include head.html %}
  <body>
    {% include navigation.html %}

    <div class="hero has-background-black-bis is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-one-two">
                        <div action="" class="box has-background-black-ter">

                            <div class="field">
                              <div class="content">
                                {{ content }}
                              </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>
</html>